[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
# black = "*" (global install)
# invoke = "*" (global install)
setuptools = "*"
wheel = "*"
twine = "*"
# isort = "*" (global install)
bump2version = "*"

[packages]
click = "*"
tqdm = "*"
